{% spaceless %}
{% autoescape false %}

{% if not (title == 'FAQ') and not (title == 'Admin') and not (title =='Detailed Usage') %}
<div class="footnote">
  <p>Only books with call numbers can be browsed by librarian, fund code, or call number range.</p>
  <p>Currently, only {{ percent_browsable }}% of the titles in the database include call numbers.</p>
  <p>This means {{ percent_not_browsable }}% of the titles will not show up when browsing in those ways.</p>
</div>
{% endif %}

</div>
</div>
<footer id='site_footer' class='frame'>
	<div class='container'>
		<address class='right'>
			P.O. Box 26800, Provo, UT 84602-6800<br/>
			(801) 422-2927
		</address>
		<ul class='inline_list'>
			<li><a href='http://lib.byu.edu/'>Home</a></li>
			<li><a href='http://lib.byu.edu/contact/'>Contact Us</a></li>
			<li><a href='http://lib.byu.edu/site_index/'>Site Index</a></li>
			<li><a href='http://lib.byu.edu/m/'>Mobile Site</a></li>
		</ul>

		<p id='copyright'><a href='http://lib.byu.edu/services/copyright.php' title='Copyright and Use Information'>&copy; 2012 Brigham Young University</a></p>
	</div>
</footer>
</body>
</html>

{% endautoescape %}
{% endspaceless %}
