{% set app_url = constant('config::URL') %}
{% set template_directory = constant('config::TEMPLATE_DIR') %}

{% autoescape false %}
<div class="page">
  <div class="span-24">
    <div class="span-7">
      <section>
        <form action="results.php" method="get" accept-charset="utf-8" class="search_form linear">
          <h2>Title Search</h2>
          <div class="search_wrapper">
            {% if type == 'title' %}
              <input type="text" name="title" value="{{ html.search_term }}" id="title" placeholder="Title"/>
            {% else %}
              <input type="text" name="title" value="" id="title" placeholder="Title"/>
            {% endif %}
            {% if sort %}
              <input type="hidden" name="sort" value="{{ sort }}"/>
            {% endif %}
            {% if html.rpp %}
              <input type="hidden" name="rpp" value="{{ html.rpp }}"/>
            {% endif %}
            <div class="search_btn">
              <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="20">
                <g transform="rotate(-45 10 10)">
                  <circle cx="8" cy="8" r="4.5" stroke-width="2" stroke="#fff" fill="none"></circle>
                  <line x1="8" y1="14" x2="8" y2="18" stroke="#fff" stroke-width="2" stroke-linecap="round"></line>
                </g>
              </svg>
            </div>
          </div>
          <input type="submit" class="button small" value="Search" />
        </form>
      </section>
    </div>

    <div class="span-7 prepend-1">
      <section>
        <h2>Platform Browse</h2>
        <form action="results.php" method="get" accept-charset="utf-8">
          <select name="platform" id="platform">
            {{ platforms }}
          </select>
          {% if sort %}
            <input type="hidden" name="sort" value="{{ sort }}"/>
          {% endif %}
          {% if html.rpp %}
            <input type="hidden" name="rpp" value="{{ html.rpp }}"/>
          {% endif %}
          <input class="button small" type="submit" name="submit" value="Browse" />
        </form>
      </section>
    </div>
    
    <div class="span-7 prepend-1">
      <section>
        <h2>Fund Code Browse <a href="footnote.php?width=400" class="jTip" id="one" class="info" name="Information"><img src='{{ app_url }}/{{ template_directory }}/images/information-icon.png' /></a></h2>
        <form action="results.php" method="get" accept-charset="utf-8">
          <select name="fund" id="fund">
            {{ funds }}
          </select>
          {% if sort %}
            <input type="hidden" name="sort" value="{{ sort }}"/>
          {% endif %}
          {% if html.rpp %}
            <input type="hidden" name="rpp" value="{{ html.rpp }}"/>
          {% endif %}
          <input class="button small" type="submit" name="submit" value="Browse" />
        </form>
      </section>
    </div>
  </div>

  <div class="span-24">
    <div class="span-7">
      <section>
        <form action="results.php" method="get" accept-charset="utf-8" class="search_form linear">
          <h2>ISBN Search</h2>
          <div class="search_wrapper">
            {% if type == 'isbn' %}
              <input type="text" name="isbn" value="{{ html.search_term }}" id="isbn" placeholder="ISBN (with or without dashes)"/>
            {% else %}
              <input type="text" name="isbn" value="" id="isbn" placeholder="ISBN (with or without dashes)"/>
            {% endif %}
            {% if sort %}
              <input type="hidden" name="sort" value="{{ sort }}"/>
            {% endif %}
            {% if html.rpp %}
              <input type="hidden" name="rpp" value="{{ html.rpp }}"/>
            {% endif %}
            <div class="search_btn">
              <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="20">
                <g transform="rotate(-45 10 10)">
                  <circle cx="8" cy="8" r="4.5" stroke-width="2" stroke="#fff" fill="none"></circle>
                  <line x1="8" y1="14" x2="8" y2="18" stroke="#fff" stroke-width="2" stroke-linecap="round"></line>
                </g>
              </svg>
            </div>
          </div>
          <input type="submit" class="button small" value="Search" />
        </form>
      </section>
    </div>
  
    <div class="span-7 prepend-1">
      <section>
        <h2>Subject Librarian Browse <a href="footnote.php?width=400" class="jTip" id="two" class="info" name="Information"><img src='{{ app_url }}/{{ template_directory }}/images/information-icon.png' /></a></h2>
        <form action="results.php" method="get" accept-charset="utf-8">
          <select name="lib" id="lib">
            {{ libs }}
          </select>
          {% if sort %}
            <input type="hidden" name="sort" value="{{ sort }}"/>
          {% endif %}
          {% if html.rpp %}
            <input type="hidden" name="rpp" value="{{ html.rpp }}"/>
          {% endif %}
          <input class="button small" type="submit" name="submit" value="Browse" />
        </form>
      </section>
    </div>

    <div class="span-7 prepend-1">
      <section>
        <h2>Call Number Browse <a href="footnote.php?width=400" class="jTip" id="three" class="info" name="Information"><img src='{{ app_url }}/{{ template_directory }}/images/information-icon.png' /></a></h2>
        <form action="results.php" method="get" accept-charset="utf-8">
          <select name="call_num" id="call_num">
            {{ call_nums }}
          </select>
          {% if sort %}
            <input type="hidden" name="sort" value="{{ sort }}"/>
          {% endif %}
          {% if html.rpp %}
            <input type="hidden" name="rpp" value="{{ html.rpp }}"/>
          {% endif %}
          <input class="button small" type="submit" name="submit" value="Browse" />
        </form>
      </section>
    </div>
    
  </div>
</div>
{% endautoescape %}
