<p><strong>Only books with call numbers can be browsed by librarian, fund code, or call number range.</strong></p>
<p>Currently, only <strong>{{ percent_browsable }}%</strong> of the titles in the database include call numbers, so <strong>{{ percent_not_browsable }}%</strong> of the titles will not show up when browsing by librarian, fund code, or call number range.</p>