{% spaceless %}
{% autoescape false %}

</div>
<footer id='site_footer'>
  <p>eBook Usage Database by <a href="http://www.jaredhowland.com">Jared Howland</a> &bullet; <a href="https://github.com/jaredhowland/ebooks/issues/new">Report a Problem</a></p>
</footer>
</body>
</html>

{% endautoescape %}
{% endspaceless %}
