{% spaceless %}
{% autoescape false %}

</div>
<footer id='site_footer'>
  <p>eBook Usage Database by <a href="http://www.jaredhowland.com">Jared Howland</a></p>
</footer>
</body>
</html>

{% endautoescape %}
{% endspaceless %}
