{% set app_url = constant('config::URL') %}
{% spaceless %}
{% autoescape false %}

<h1>{{ heading }}</h1>
<table>
  <thead>
    <tr><th style="text-align:right;">Title</th><th colspan="2">{{ html.current_year }} Usage</th><th colspan="2">{{ html.previous_year }} Usage</th></tr>
    <tr><th></th><th>BR1</th><th>BR2</th><th>BR1</th><th>BR2</th></tr>
  </thead>
  <tbody>
  {% for result in html.results %}
    <tr><td><strong><a href="{{ result.book_id|e('html') }}">{{ result.title }}</a></strong><br/><ul class="inline_list">{% if result.author %}<li>{{ result.author }}</li>{% endif %}{% if result.publisher %}<li>{{ result.publisher }}</li>{% endif %}{% if result.isbn %}<li>{{ result.isbn }}</li>{% endif %}{% if result.call_num %}<li>{{ result.call_num }}</li>{% endif %}</ul></td><td>{{ result.latest_br1 }}</td><td>{{ result.previous_br1 }}</td><td>{{ result.latest_br2 }}</td><td>{{ result.previous_br2 }}</td></tr>
  {% endfor %}
  </tbody>
</table>

{% endautoescape %}
{% endspaceless %}
