{% set app_url = constant('config::URL') %}
<nav id='site_nav'>
	<div class='container'>
		<ul>
		  {% if title == 'Home' %}
  			<li class="active"><a href="{{ app_url }}/">Home</a></li>
  		{% else %}
  		  <li><a href="{{ app_url }}/">Home</a></li>
  		{% endif %}
  		{% if title == 'FAQ' %}
  			<li class="active"><a href="{{ app_url }}/faq.php">FAQ</a></li>
  		{% else %}
  		  <li><a href="{{ app_url }}/faq.php">FAQ</a></li>
  		{% endif %}
  		{% if title == 'Admin' %}
  			<li class="active"><a href="{{ app_url }}/admin.php">Admin</a></li>
  		{% else %}
  		  <li><a href="{{ app_url }}/admin.php">Admin</a></li>
  		{% endif %}
		</ul>
	</div>
</nav>