{% set num_results = html.results | length %}

{# Determine pluralization of num_results #}
{% set num_results_display %}
{% set num_results_format = num_results|number_format %}
{% trans %}
{{ num_results_format }} result
{% plural num_results %}
{{ num_results_format }} results
{% endtrans %}
{% endset %}

{% spaceless %}
{% autoescape false %}

{% include '_html_head.tmpl' %}

{% spaceless %}
{% autoescape false %}

{% include '_search_boxes.tmpl' %}

<h2 class="clear">Search for: {{ html.search_term }}</h2>
<h3>{{ num_results_display }}</h3><br/>

<table class="results">
  <thead>
    <tr><th class="title">Title<br/><ul class="inline_list"><li>Author</li><li>Publisher</li><li>ISBN</li><li>Call number</li></ul></th><th colspan="2" class="usage">BR1</th><th colspan="2" class="usage last">BR2</th></tr>
    <tr><th></th><th>{{ html.current_year }}</th><th>{{ html.previous_year }}</th><th class="last">{{ html.current_year }}</th><th>{{ html.previous_year }}</th></tr>
  </thead>
  <tbody>
  {% for result in html.results %}
    <tr><td><strong><a href="book.php?book_id={{ result.book_id|e('html') }}">{{ result.title }}</a></strong><br/><ul class="inline_list">{% if result.author %}<li>{{ result.author }}</li>{% endif %}{% if result.publisher %}<li>{{ result.publisher }}</li>{% endif %}{% if result.isbn %}<li>{{ result.isbn }}</li>{% endif %}{% if result.call_num %}<li>{{ result.call_num }}</li>{% endif %}</ul></td><td>{% if result.latest_br1 is null %}--{% else %}{{ result.latest_br1|number_format }}{% endif %}</td><td>{% if result.previous_br1 is null %}--{% else %}{{ result.previous_br1|number_format }}{% endif %}</td><td class="last">{% if result.latest_br2 is null %}--{% else %}{{ result.latest_br2|number_format }}{% endif %}</td><td>{% if result.previous_br2 is null %}--{% else %}{{ result.previous_br2|number_format }}{% endif %}</td></tr>
  {% endfor %}
  </tbody>
</table>

{% endautoescape %}
{% endspaceless %}


{% include '_html_foot.tmpl' %}

{% endautoescape %}
{% endspaceless %}